{% extends 'base/base.html' %}
{% load django_bootstrap5 %}
{% block title %}Alterar a senha{% endblock %}
{% block content %}
<section>
    <div class="container">
        <h1>Alterar senha</h1>
        {% if validlink %}
        {% bootstrap_messages %}
        <form class="form my-4" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Alterar" %}
        </form>
        {% else %}
        <h1 class="title">A alteração de senha falhou</h1>
        <p>O link utilizado para alteação da senha é <b>invalido</b>.</p>
        <p>Isso ocorreu porque esse link já foi utilizado.</p>
        <p>Solicite uma nova redefinição de senha.</p>
    </div>
</section>
{% endif %}
{% endblock %}